@import "general.scss";
*{
    font-family: $fuente;
}
$imagenes: (
    "../images/twitterIcon.png",
    "../images/instagramIcon.png",
    "../images/facebookIcon.png",
    "../images/linkedinIcon.svg.png"
);


footer{
    box-shadow: 0px 1px 10px black;
    h2{
        padding: 30px 0px 0px 30px;
    }
    h3{
        text-align: center;
        padding: 30px 0px 0px 30px;
    }
}

.listaAsignaturaFooter{
    background-color: #8174A0;
    color: #FADFA1;
}
  
.areaPersonalFooter{
    background-color: #E5D9F2;
}

#contenedorFooter{
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
    #ubicacion, #contactos, .icons{
        margin: 20px;
        iframe{
            margin: 10px;
        }
    }
}

@media only screen and (max-width: 770px) {
    #logos {
        display: flex;
    }
}

.icons {
    width: 32px;
    height: 32px;
    background-size: cover;
}



@for $i from 1 through length($imagenes) {
    .icon#{$i} {
        background-image: url(nth($imagenes, $i));
    }
}

