@import "general.scss";

footer{
    box-shadow: 0px 1px 10px black;
    h2{
        padding: 30px 0px 0px 30px;
    }
}

.listaAsignaturaFooter{
    background-color: #8174A0;
    color: #f7d89d;
}
  
.areaPersonalFooter{
    background-color: #E5D9F2;
}

#contenedorFooter{
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    div{
        margin: 10px;
    }
}

/* Iconos */
#icon1 {
    background-image: url("../images/twitterIcon.png");
    width: 32px;
    height: 32px;
    background-size: cover;
}