$colores: (
    morado-1: #6C5AC7,
    crema-1: #FBF5E5,
    amarillo-1: #EABE6C,
    lila-1: #E5D9F2,
    lila-2: #F5EFFF,
    amarillo-2: #FADFA1,
    morado-2: #5E1675,
    gris-1: #8174A0,
    crema-2: #FBF5E5
);
$fuente: 'Cinzel', serif;
