html, body {
    height: 100%;
    margin: 0;
}

.hero-body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-container {
    position: relative;
    min-height: 400px;
    height: 100%;
    background-image: url('../images/logo2');
    background-size: cover;
    background-position: center;
    border-radius: 6px;
    display: flex;
    align-items: flex-end;
}
.image-container .title {
    position: relative;
    color:#eabe6c;
    font-size: 2rem;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    margin-bottom: 0.5rem;
    z-index: 1;
}
.image-container button {
    position: relative;
    z-index: 2;
}
.boton-registro {
    color: #000;
    background-color: #eabe6c;
    border-color: #eabe6c;
}
.label-user{
    color: #6c5ac7;
    opacity: 0.7;
}
.label-pass{
    color: #6c5ac7;
    opacity: 0.7;
}
.titulo-login{
    color: #6c5ac7;
}
.boton-acceso{
    color: #fff;
    background-color: #6c5ac7;
}
.label-recuerdame{
    color: #6c5ac7;
    opacity: 0.7;
}
.caja-login{
    background-color: #FBF5E5;
}
.caja-login-grande{
    background-color: #EABE6C;
}
.caja-login {
    background-color: #FBF5E5;
}

.caja-login-grande {
    background-color: #EABE6C;
}

.input {
    background-color: #FBF5E5; /* Color de fondo igual al contenedor */
    border: none; /* Eliminar bordes */
    border-bottom: 2px solid #6c5ac7; /* Línea debajo */
    box-shadow: none; /* Eliminar sombras */
    border-radius: 0; /* Eliminar bordes redondeados */
}

.input:focus {
    border-bottom-color: #6c5ac7; /* Color de la línea al enfocar */
    box-shadow: none; /* Eliminar sombras al enfocar */
}