html, body {
    font-family: Cinzel, Satisfy, sans-serif;
}

.image-container {
    background-image: url('../images/fondo_bueno.gif');
    background-size: cover;
    background-position: center;
}

.has-text-purple {
    color: #6c5ac7 ;
}

.has-text-gold {
    color: #EABE6C ;
}

.has-background-cream {
    background-color: #FBF5E5 ;
}

.has-background-gold {
    background-color: #EABE6C ;
}

.button.is-purple {
    background-color: #6c5ac7;
    color: #fff;
}

.button.is-gold {
    background-color: #eabe6c;
    color: #000;
}

.input.is-purple {
    background-color: #FBF5E5;
    border: none;
    border-bottom: 2px solid #6c5ac7;
    box-shadow: none; 
    border-radius: 0;
    color: #6c5ac7;
}

.input.is-purple:focus {
    border-bottom-color: #6c5ac7;
    box-shadow: none;
}