@import "general.scss";

.navbar{
    box-shadow: 0px 1px 10px black;
}

h1{
    font-size: larger;
    font-weight: 900;
}

.areaPersonalNav{
    background-color: map-get($colores, lila-1);
    font-weight: bold;

    .is-active{
        background-color: map-get($colores, lila-1);
    }
    .navbar-link, .navbar-item{
        background-color: map-get($colores, lila-1) !important;
    }
}

.listaAsignaturaNav{
    background-color: map-get($colores, gris-1);
    font-weight: bold;

    .navbar-link, .navbar-item{
        background-color: map-get($colores, gris-1) !important;
        color: #f7d89d !important;
    }

    .navbar-burger {
        color: black;
    }
    .is-active{
        background-color: map-get($colores, gris-1);
    }
}


a:hover{
    background-color: map-get($colores, morado-2);
    color: white;
}

.buttons a{
    background-color: map-get($colores, amarillo-1);
}