@import "general.scss";

.page-background {
  background-color: map-get($colores, gris-1);
  min-height: 100vh;
}

.card-custom {
  &.is-light-purple {
    background-color: map-get($colores, lila-1);
  }
  
  &.is-light-yellow {
    background-color: map-get($colores, amarillo-2);
  }
}

.card.card-custom {
  border-radius: 20px;
  overflow: hidden;
}

.button-custom {
  &.is-light-yellow {
    background-color: map-get($colores, amarillo-2);
    color: #222;
  }
  
  &.is-light-purple {
    background-color: map-get($colores, lila-1);
    color: #222;
  }
}

.button.is-primary {
  background-color: map-get($colores, amarillo-1);
  color: #333;
  
  &:hover {
      background-color: map-get($colores, morado-2);
      color: white;
  }
}